---
name: "Pull Request Testing and Config Build"

on:
  # Run jobs on any Pull Request activity
  pull_request:

jobs:
  build_configs:
    runs-on: ubuntu-latest
    name: Test Building Configs and Build If Successful
    container:
      image: "ghcr.io/aristanetworks/avd/universal:python3.12-avd-v5.5.1"
      options: '--user=root' #required, only user allowed by github actions
      env:
        PYTHONPATH: "/home/avd/.local/lib/python3.12/site-packages"
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          ref: ${{ github.ref }}

      - name: Setup Git config
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git config --global --add safe.directory /__w/dc-l2ls-automation-ci/dc-l2ls-automation-ci

      ##### Test Building Configs #####
      - name: Build Configs
        run: |
          make build-dc1

      - name: Commit Changes
        run: |
          git add .
          git commit -m "Build Configs with AVD"
          git push